<h2>Book List</h2>
<table>
    <tr>
        <th>Title</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>Book 1</td>
        <td>1000</td>
    </tr>
    <tr>
        <td>Book 2</td>
        <td>9000</td>
    </tr>
</table>